<ion-header>

  <ion-navbar>
    <ion-title>Entre no Sistema</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines *ngIf="! variaveisGlobais.isEstaLogado()">

    <ion-item>

      <ion-label stacked>Usuário</ion-label>
      <ion-input type="text" [ngModel]="variaveisGlobais.getUsuario()" (ngModelChange)="variaveisGlobais.setUsuario($event)"></ion-input>

    </ion-item>

    <ion-item>

      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
  
    </ion-item>

  </ion-list>

  <p *ngIf="variaveisGlobais.isEstaLogado()">Usuário no sistema: {{ variaveisGlobais.getUsuario() }} </p>

  <button *ngIf="! variaveisGlobais.isEstaLogado()" ion-button block color="secondary" (click)="entraNoSistema()">Entrar</button>
  <button *ngIf="variaveisGlobais.isEstaLogado()" ion-button block color="danger" (click)="saiDoSistema()">Sair</button>

</ion-content>

